<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="poll">
        <div class="poll_meta">
          <a ui-sref="/{{ vm.username }}">
            {{ vm.username }}
          </a>
        </div>

        <div class="poll_content">
          {{ vm.question }}
        </div>
        <form role="form" ng-submit="vm.submit()" name="poll_form">
          <div class="form-group">
            <div ng-repeat="option in vm.options">
              <label><input type="checkbox">option.option}}</label><br>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"
              ng-disabled="poll_form.$invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
