<header class="jumbotron">
  <!-- Main component for a primary marketing message or call to action -->

  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12">
        <h1 class="text-center color-white" style="color: white">Votification</h1>
        <p style="padding:5px;"></p>
        <p class="text-center" style="color: white">Create custom polls</p>
        <p style="padding:5px;"></p>
        <button type="button" class="btn btn-success" ng-if="!vm.loggedIn" ui-sref="home.register">Sign up</button>
        <span>
          <button type="button" class="btn btn-success"
        </span>
      </div>
    </div>
  </div>
</header>
